<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.5.1" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.5.1" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml.Linq" version="3.5.1" targetFramework="net462" />
  <package id="HarfBuzzSharp" version="8.3.1.1" targetFramework="net462" />
  <package id="HarfBuzzSharp.NativeAssets.Linux" version="8.3.1.1" targetFramework="net462" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="8.3.1.1" targetFramework="net462" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="8.3.1.1" targetFramework="net462" />
  <package id="Magick.NET.Core" version="14.12.0" targetFramework="net462" />
  <package id="Magick.NET-Q16-AnyCPU" version="14.12.0" targetFramework="net462" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net462" />
  <package id="ScottPlot" version="4.1.74" targetFramework="net462" />
  <package id="ShapeCrawler" version="0.79.1" targetFramework="net462" />
  <package id="SkiaSharp" version="3.119.2" targetFramework="net462" />
  <package id="SkiaSharp.HarfBuzz" version="3.119.0" targetFramework="net462" />
  <package id="SkiaSharp.NativeAssets.Linux" version="3.119.2" targetFramework="net462" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="3.119.0" targetFramework="net462" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.2" targetFramework="net462" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.2" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="10.0.3" targetFramework="net462" />
  <package id="System.Drawing.Common" version="4.7.2" targetFramework="net462" />
  <package id="System.Formats.Nrbf" version="10.0.3" targetFramework="net462" />
  <package id="System.Memory" version="4.6.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="10.0.3" targetFramework="net462" />
  <package id="System.Resources.Extensions" version="10.0.3" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net462" />
</packages>