<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SillyMonkey.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SillyMonkey.Core.Properties.Settings>
      <setting name="UidMode" serializeAs="String">
        <value>TestNumber</value>
      </setting>
      <setting name="HistogramOutlierColor" serializeAs="String">
        <value>#FFEF0000</value>
      </setting>
      <setting name="HistogramChartAxis" serializeAs="String">
        <value>Sigma</value>
      </setting>
      <setting name="HistogramChartAxisSigmaRange" serializeAs="String">
        <value>Sigma6</value>
      </setting>
      <setting name="HistogramOutlierFilterRange" serializeAs="String">
        <value>Sigma6</value>
      </setting>
      <setting name="HistogramEnableOutlierFilter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HistogramEnableLimitLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HistogramEnableSigma6Line" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HistogramEnableSigma3Line" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HistogramEnableMinMaxLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HistogramEnableMeanLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HistogramEnableMedianLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrendChartAxis" serializeAs="String">
        <value>Sigma</value>
      </setting>
      <setting name="TrendChartAxisSigmaRange" serializeAs="String">
        <value>Sigma6</value>
      </setting>
      <setting name="TrendOutlierFilterRange" serializeAs="String">
        <value>Sigma6</value>
      </setting>
      <setting name="TrendEnableOutlierFilter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrendEnableLimitLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrendEnableSigma6Line" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrendEnableSigma3Line" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrendEnableMinMaxLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrendEnableMeanLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrendEnableMedianLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CorrHistogramChartAxis" serializeAs="String">
        <value>Sigma</value>
      </setting>
      <setting name="CorrHistogramOutlierFilterRange" serializeAs="String">
        <value>Sigma6</value>
      </setting>
      <setting name="CorrHistogramEnableOutlierFilter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ItemCorrOutlierFilterRange" serializeAs="String">
        <value>Sigma6</value>
      </setting>
      <setting name="ItemCorrEnableOutlierFilter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CorrHistogramEnableLimitLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CorrHistogramEnableSigmaLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CorrHistogramEnableMinMaxLine" serializeAs="String">
        <value>False</value>
      </setting>
    </SillyMonkey.Core.Properties.Settings>
  </userSettings>
</configuration>